section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 160px 80px;
  overflow: hidden;
}

@media (max-width: 450px) {
  section {
    padding: 40px 20px;
  }
}

/* START OF SECTION 1 */
.section-1 {
  background-color: var(--bg-theme1);
  color: var(--bg-white);
}

.section-1 .tagline {
  color: var(--bg-accent);
  font-family: "Mulish", sans-serif;
  font-size: 80%;
  letter-spacing: 24px;
}

.section-1 .img-maintea {
  width: 80vw;
  max-width: 400px;
  margin-top: 20px;
}

/* END OF SECTION 1 */
/* START OF SECTION 2 */
.section-2 {
  background-color: var(--bg-theme2);
  color: var(--bg-white);
}
/* --- */

#teas-randomiser-container {
  width: 100%;
  position: relative;
  height: 500px;
}

.each-random-tea {
  position: absolute;
  width: 50vw;
  max-width: 400px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}

.each-random-tea.active {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s 0.3s;
  cursor: pointer;
}

/* --- */
#teas-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 750px) {
  #teas-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  }
}

.each-griditem-tea:hover {
  cursor: pointer;
  animation: sway 1s infinite;
  transform: scale(1.2);
}

@keyframes sway {
  0% {
    transform: scale(1.1) rotate(0);
  }
  25% {
    transform: scale(1.1) rotate(20deg);
  }
  50% {
    transform: scale(1.1) rotate(0deg);
  }
  70% {
    transform: scale(1.1) rotate(-20deg);
  }
  100% {
    transform: scale(1.1) rotate(0);
  }
}

/* END OF SECTION 2 */
/* START OF SECTION 3 */
.section-3 {
  background-color: var(--bg-theme3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plant-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 200px;
}

.plant1 {
  position: absolute;
  top: -210px;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: auto;
}

.teabagLabel {
  position: absolute;
  top: 140px;
  left: 70%;
  transform: translateX(-50%);
  width: 60%;
  height: auto;
  z-index: 3;
}

.selectedTeaImg {
  position: relative;
  height: 600px;
  width: 500px;
  max-width: none;
  max-height: none;
  z-index: 2;
  transform: translateX(5%);
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.form > input {
  flex: 4;
  background: none;
  outline: none;
  border: none;
}

.input,
.input::placeholder {
  opacity: 1;
  color: var(--bg-white);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 16px;
  font-weight: bold;
  text-align: center;
  width: 80vw;
  overflow-wrap: break-word;
}

.send-button {
  flex: 1;
  background: var(--bg-white);
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--bg-theme3);
  padding: 10px 100px;
}

/* END OF SECTION 3 */
/* ----------------------------------------------------- */
/* START OF SECTION 4 */
.section-4 {
  background-color: var(--bg-theme4);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--bg-white);
}
#message-wall {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: auto;
  aspect-ratio: 3/4;
  /* height: fit-content; */
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
  transition: transform ease-in-out 1s 0.5s;
}

.flip-card-front {
  display: flex;
  align-items: flex-end;
  position: relative;
  background-color: var(--bg-theme4);
}

.section4cup {
  width: 150%;
  transition: all ease-in-out 0.5s;
  z-index: 2;
}

.flip-card-front:hover > .section4cup,
.flip-card-front:focus > .section4cup {
  transition: all ease-in-out 0.5s;
  transform: scale(1.05) translateY(100px);
  position: relative;
}

.section4plant {
  height: 0;
  min-width: 150px;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 100px;
  transform-origin: bottom;
  transition: height ease-in-out 0.3s 0.1s; /* Transition the top property too */
  overflow: hidden;
}

.flip-card-front:hover > .section4plant,
.flip-card-front:focus > .section4plant {
  height: 400px; /* This will increase the height */
  transition: height ease-in-out 0.3s 0.1s; /* Transition the top property too */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 20px solid var(--bg-black);
}

.flip-card:nth-child(1n) .flip-card-front {
  background-color: var(--bg-random1);
}

.flip-card:nth-child(2n) .flip-card-front {
  background-color: var(--bg-random2);
}

.flip-card:nth-child(3n) .flip-card-front {
  background-color: var(--bg-random3);
}

.flip-card-back {
  background-color: var(--bg-black);
  color: var(--bg-white);
  transform: rotateY(180deg);
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-card-back span {
  display: block;
  overflow: hidden;
  font-family: "Mulish", sans-serif;
  text-align: center;
  margin: auto;
}

/* END OF SECTION 4 */

/* START OF MENU */
nav {
  position: fixed;
  width: 100%;
  background-color: #e2cbbc;
  z-index: 2;
  transform: translateY(-210px);
  border-bottom: 10px solid var(--bg-black);
  transition: transform ease-in-out 0.2s;
  z-index: 100;
}

nav.active {
  transform: translateY(0);
  transition: transform ease-in-out 0.2s;
}

nav > ul {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 100px));
  place-content: center;
  gap: 10%;
  align-items: center;
  z-index: 2;
}

nav li,
nav img {
  width: 100%;
}

nav li:hover {
  transform: scale(1.1);
}

nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav span {
  color: var(--bg-black);
  font-family: "Mulish", sans-serif;
  font-size: 0.5rem;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

.menu {
  width: 120px;
  bottom: -150px;
  position: absolute;
  left: 50px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
  z-index: 1;
}

.menu:hover {
  transform: scale(1.2) rotate(-5deg);
  transform-origin: center;
  transition: transform ease-in-out 0.2s;
}

@media (max-width: 400px) {
  .menu {
    width: 90px;
    bottom: -130px;
  }
}

/* END OF MENU */
